.sidebar {
    margin-top: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 35px;
    background-color: white;
    width: 72px;
    font-family: arial;
    font-size: 12px;
    z-index: 200;
}

.sidebar-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    flex-direction: column;
}
.sidebar div{
    font-size: 10px;
}
.sidebar-icon:hover {
    background-color: rgb(236, 235, 235);
    cursor: pointer;
}
.sidebar img {
    width: 23px;
    margin-bottom: 5px;
    align-items: center;
    justify-content: center;
}